
@font-face {
    font-family: 'RochelePointRegular';
    src: url('fonts/RochelePointRegular/rochifunpoint-webfont.eot');
    src: url('fonts/RochelePointRegular/rochifunpoint-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/RochelePointRegular/rochifunpoint-webfont.woff') format('woff'),
         url('fonts/RochelePointRegular/rochifunpoint-webfont.ttf') format('truetype'),
         url('fonts/RochelePointRegular/rochifunpoint-webfont.svg#RochelePointRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StampRegular';
    src: url('fonts/StampRegular/stamp-webfont.eot');
    src: url('fonts/StampRegular/stamp-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/StampRegular/stamp-webfont.woff') format('woff'),
         url('fonts/StampRegular/stamp-webfont.ttf') format('truetype'),
         url('fonts/StampRegular/stamp-webfont.svg#StampRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'fontawesome';
  src:url('fonts/font-awesome-4.5.0/fontawesome-webfont.eot');
  src:url('fonts/font-awesome-4.5.0/fontawesome-webfont.eot') format('embedded-opentype'),
  url('fonts/font-awesome-4.5.0/fontawesome-webfont.woff') format('woff'),
  url('fonts/font-awesome-4.5.0/fontawesome-webfont.ttf') format('truetype'),
  url('fonts/font-awesome-4.5.0/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
