$bg-color : #333333;
$font-color: #ffffff;
$main-color: rgba(1, 151, 171, 1);
$secondary-color: #72ECB5;
$btn-bg-color: rgba(1, 151, 171, 1);
$btn-hover-color: darken($btn-bg-color, 10%);
$btn-font-color: rgba(0, 63, 71, 1);
$btn-font-hover-color: rgba(0, 63, 71, 1);
$btn-border-color: rgba(0, 63, 71, .2);
$canvas-border-color: rgba(1, 151, 171, 1);
$font-text-shadow: rgba(255, 255, 255, .7);
$modal-font-color: #000000;


