<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row modalHeader">
          <span class="modalTitle">קטר<span class="secColor">זיס</span></span>
          <img src="/img/favicon.ico"/>
        </div>
        <hr/>
        <div class="modalInfo">
          <strong>עוד כמה דקות יוצאת הרכבת?</strong>
          <p>
            <span>האפליקציה לומדת את הרגלי הנסיעה שלך ומציגה באופן אוטומטי את הרכבת הבאה, </span>
            <span>כלל המידע נשמר אצלך ואינו נשמר אצלינו בשום צורה.</span>
            <span>בהפעלה הראשונה נדרש לבחור תחנת יעד,</span>
            <span>תחנת המוצא הקרובה מחושבת באופן אוטומטי לפי מיקומך הנוכחי</span>
            <span>(ניתן גם לבחור ידנית את תחנת המוצא).</span>
          </p>
          <p>
            <span>נבנה באהבה וכשירות לציבור על ידי בוגרי </span>
            <a ng-href="//coding-academy.org/" target="_blank">Coding-Acedemy.org</a>
            <span>אופיר נדב ואילן ביטון</span>
          </p>
        </div>
        <div>
          <button ng-click="vm.toggleModal()" class="btn btn-default">סבבה</button>
        </div>
      </div>
    </div>
  </div>
</div>
